:root {
    --main-color: #990000;
    --special-text-color: #FFFFFF;
    --shadow-color: #330000;
    --background-color: #FAFAFA;
}

html {
    font-family: Josefin Sans, sans-serif !important;
    font-size: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

body:not(.modal-open){
    font-family: Josefin Sans, sans-serif !important;
    font-size: 100%;
    height: 100%;
    padding: 0 !important;
    margin: 0;
}

.modal-open {
    font-family: Josefin Sans, sans-serif !important;
    font-size: 100%;
    padding: 0 !important;
    margin: 0;
    height: 100%;
}

h1, h2, h3 {
    font-family: Josefin Sans, sans-serif !important;
    font-size: 125% !important;
    margin: 0;
}

a:not(.custom-link) {
    text-decoration: underline;
    text-decoration-color: var(--main-color);
    color: black;
}

p {
    margin-bottom: 0;
}

.locate {
    font-size: 125%;
    line-height: unset !important;
}

.leaflet-control-locate.leaflet-bar.leaflet-control.active.following .locate, .unselect-active{
    color: #2A93EE;
}

.leaflet-top.leaflet-left {
    width: 100%;
    /*display: flex;*/
    /*flex-wrap: wrap;*/
}

.easyPrintHolder .a4PCssClass, .easyPrintHolder .a4LCssClass {
  background-image: url(data:image/svg+xml;utf8;base64,PD9...go=);
}
/*.both-active, .yes-active, .no-active, .grouped-active, .ungrouped-active, .filter-active {*/
/*    width: min-content !important;*/
/*    white-space: nowrap;*/
/*}*/

.button-state {
    display: inline !important;
}

hr {
    margin: 0;
}

.leaflet-div-icon {
    background: transparent !important;
    border: none !important;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Josefin Sans, Helvetica, sans-serif;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.info h4 {
    font-size: 150%;
}

.info h5 {
    font-size: 125%;
}

#map {
    width: 100%;
    height: 100%;
}

#mapa {
    /* configure the size of the map */
    width: 100%;
    height: 100%;
}

a:hover:not(.button):not(.custom-link):not(.leaflet-bar-part.leaflet-bar-part-single):not(.leaflet-control-fullscreen-button.leaflet-bar-part) {
    color: var(--special-text-color);
    background-color: var(--main-color);
}

button:not(.easy-button-button):not(.submit):not(.custom):not(.send_button) {
    background-color: var(--main-color);
    border: none;
    border-radius: 5px;
    color: var(--special-text-color);
    font-size: 150%;
    margin: 5px 0;
    padding: 20px;
    text-align: center;
}

.custom {
    border: none;
    border-radius: 5px;
    color: var(--special-text-color);
    text-align: center;
}

.send_button {
    border: none;
    border-radius: 5px;
    color: var(--special-text-color);
    background-color: #0074d9;
    text-align: center;
    padding: 20px;
    width:100%;
}

#addCoordinatesHeader {
    width: 256px;
}

/* TOPNAV ELEMENTS */
.topnav {
    background-color: var(--main-color);
    overflow: hidden;
}

.topnav a {
    float: left;
    display: block;
    color: var(--special-text-color);
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 115%;
}

.topnav a.right {
    float: right;
    display: block;
    color: var(--special-text-color);
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 115%;
}

.topnav a:hover {
    background-color: var(--shadow-color);
    color: white;
}

.topnav a.active {
    background-color: white;
    color: var(--main-color);
    font-weight: bold;
}

.topnav .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }

    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    #addCoordinatesHeader {
        width: 128px;
    }

    .image-container {
        display: unset !important;
    }

    .file-upload-container {
        display: block !important;
    }

    .image-type {
        width: 33% !important;
    }

    .flex-container {
        flex-direction: column !important;
    }
}

/* CLUSTER CSS*/
.red-cluster {
    background: url('/static/images/red-clusters.png') no-repeat 0 0;
    background-size: 150px 40px;
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    text-align: center;
    color: #FFFFFF;
}

.red-circle-large {
    background-position: 0 0;
    width: 40px;
    height: 40px;
    line-height: 40px;
}

.red-circle-big {
    background-position: -40px 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
}

.red-circle-normal {
    background-position: -75px 0;
    width: 30px;
    height: 30px;
    line-height: 30px;
}

.red-circle-small {
    background-position: -105px 0;
    width: 25px;
    height: 25px;
    line-height: 25px;
}

.red-circle-tiny {
    background-position: -130px 0;
    width: 20px;
    height: 20px;
    line-height: 20px;
}

.grey-cluster {
    background: url('/static/images/grey-clusters.png') no-repeat 0 0;
    background-size: 150px 40px;
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    text-align: center;
    color: #FFFFFF;
}

.grey-circle-large {
    background-position: 0 0;
    width: 40px;
    height: 40px;
    line-height: 40px;
}

.grey-circle-big {
    background-position: -40px 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
}

.grey-circle-normal {
    background-position: -75px 0;
    width: 30px;
    height: 30px;
    line-height: 30px;
}

.grey-circle-small {
    background-position: -105px 0;
    width: 25px;
    height: 25px;
    line-height: 25px;
}

.grey-circle-tiny {
    background-position: -130px 0;
    width: 20px;
    height: 20px;
    line-height: 20px;
}

.green-cluster {
    background: url('/static/images/green-clusters.png') no-repeat 0 0;
    background-size: 150px 40px;
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    text-align: center;
    color: #FFFFFF;
}

.green-circle-large {
    background-position: 0 0;
    width: 40px;
    height: 40px;
    line-height: 40px;
}

.green-circle-big {
    background-position: -40px 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
}

.green-circle-normal {
    background-position: -75px 0;
    width: 30px;
    height: 30px;
    line-height: 30px;
}

.green-circle-small {
    background-position: -105px 0;
    width: 25px;
    height: 25px;
    line-height: 25px;
}

.green-circle-tiny {
    background-position: -130px 0;
    width: 20px;
    height: 20px;
    line-height: 20px;
}

/* INPUT ELEMENTS */
form input[type=text] {
    padding: 10px;
    border: none;
    border-bottom: 2px solid var(--main-color);
    float: left;
    width: 80%;
    line-height:14px;
    font-size: 14px;
}

form button {
    float: left;
    width: 20%;
    padding: 10px;
    height: auto;
    background: var(--main-color);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 15px;
    line-height:14px;
}

.table td, .table th {
    vertical-align: middle !important;
    padding: 0.5rem !important;
}

/* Tooltip */
@media (pointer: coarse), (hover: none) {
    [title] {
        position: relative;
        display: inline-flex;
        justify-content: center;
    }
    [title]:focus::after {
        content: attr(title);
        position: absolute;
        top: 90%;
        color: #000;
        background-color: #fff;
        border: 1px solid;
        width: fit-content;
        padding: 3px;
    }
}

/* Teste */
#fileElem {
    display: none;
}

#to_be_uploaded_files input {
    width: 100%
}

#to_be_uploaded_files img {
    width: 100px
}

#to_be_uploaded_files .w3-mobile {
    padding:15px;
    text-align: center;
}

#files_to_upload, #files_to_upload .w3-container {
    padding: 0;
}

/*Testando*/
.flex-container {display: flex;}
.section:nth-child(even) { background-color: var(--special-text-color) }
.section:nth-child(odd) { background-color: var(--background-color) }
.margin-container { width: 12.5%; line-height: 0.01; }
.image-container { display: flex; align-items: center; background-color: gainsboro; }
.file-upload-container {display: flex; align-items: center; margin: 1rem 0; padding: 1rem;}
#metadata-table-container { line-height: 150%; background-color: var(--background-color) }
#metadata-table { width: 100%; margin-bottom: 1rem; }
.title { border-bottom: 1px solid #777777; text-align: left; }
.table-icon { width:20px; padding: 5px; }
.no-info { color:#595959; pointer-events: none; }
.with-info { color: #0067a3 }
.space-border { padding: 0.75rem }
.space-border-minus-bottom { padding: 0.75rem 0.75rem 0 0.75rem }
.cancel { background-color: var(--main-color) !important; }
.remove_icon {
    float: unset;
    padding:6px 12px;
    width: 110px;
    background-color:var(--main-color);
    color:var(--special-text-color);
    margin-right:4px;
    border-radius: 50px;
    border: 2px solid var(--main-color);
}

#types-of-images i { font-size: 150%; }
#file-drop-area, #login-area { width: 100%; border: 3px dashed gainsboro; padding: 2rem; text-align: center; }
#file-drop-area.highlight { border-color: var(--main-color); }
#license-message { font-size: small; text-align: justify; }
#selectFiles, #authenticate { background-color: var(--special-text-color);
    border: 3px solid var(--main-color);
    border-radius: 5px;
    color: var(--main-color);
    font-size: 150%;
    margin: 5px;
    padding: 20px;
    text-align: center;}

.keep-third {
    width: 33% !important;
}

/* Switcher */
.switch {
  position: relative;
  display: inline-block;
  width: 53px;
  height: 30px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 23px;
  width: 23px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(23px);
  -ms-transform: translateX(23px);
  transform: translateX(23px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 30px;
}

.slider.round:before {
  border-radius: 50%;
}