<div class="modal modal-left fade" id="aboutModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="background-color: rgba(255,255,255,0.85);">
            <div class="modal-header">
                <h2 class="modal-title" id="about">{{ _("Sobre") }}</h2>
                <button type="button" class="close custom" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&#x2716;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    {% set projeto %}<a tabindex="0" target='_blank' aria-label='{{_("Wiki Movimento Brasil")}}' href='https://meta.wikimedia.org/wiki/Wiki_Movement_Brazil_User_Group/{{ lang }}'>{{_("Grupo de usuários Wiki Movimento Brasil")}}</a>{% endset %}
                    {% set developer %}<a target='_blank' href='mailto:eder.porto@wmnobrasil.org'><i>{{ _("eder.porto@wmnobrasil.org") }}</i></a>{% endset %}
                    {{ _("Você está pronto(a) para participar do maior concurso fotográfico do mundo?! O aplicativo <b>Wiki Loves Brasil</b> te oferece diversas formas de participar: Enviando suas fotografias dos monumentos brasileiros de maneira simplificada, geolocalizando monumentos ainda sem coordenadas registradas e sugerindo monumentos que por acaso não estejam nas listas.") }}<br><br>
                    {{ _("O Wiki Loves Monuments é o maior concurso fotográfico do mundo! A etapa nacional ocorre entre 1º e 30 de setembro de 2023.") }}<br><br>
                    {{ _("Participe e concorra a prêmios de até R$2500. Mais detalhes na <a target='_blank' href='https://w.wiki/_yjB2' title='Wiki Loves Monuments Brasil 2023'>página do concurso na Wikipédia</a>.") }}<br><br>
                    {{_("<i>Wiki Loves Brasil</i> é um aplicativo desenvolvido pelo <i><b>%(projeto)s</b></i>.", projeto=projeto)}}<br><br>
                    {{ _("Dúvidas, reclamações, sugestões ou elogios: Envie uma mensagem para %(developer)s.", developer=developer) }}
                </p>
                <hr>
                <p>
                    {% set flask %}<a target='_blank' href='https://pt.wikipedia.org/wiki/Flask_(framework_web)'><i>{{ _("Flask") }}</i></a>{% endset %}
                    {% set github %}<a target='_blank' href='https://github.com/WikiMovimentoBrasil/wikilovesbrasil'>{{ _("GitHub") }}</a>{% endset %}
                    {% set license_code %}<a target='_blank' href='https://github.com/WikiMovimentoBrasil/wikilovesbrasil/blob/master/LICENSE'>{{ _("GPL v3.0") }}</a>{% endset %}
                    {% set license_text %}<a target='_blank' href='https://creativecommons.org/licenses/by-sa/4.0/'>{{ _("CC-BY-SA 4.0 Internacional") }}</a>{% endset %}
                    {% set license_maps %}<a target='_blank' href='https://opendatacommons.org/licenses/odbl/1-0/'>{{ _("ODbL v1.0") }}</a>{% endset %}
                    {% set license_wikidata %}<a target='_blank' href='https://creativecommons.org/share-your-work/public-domain/cc0/'>{{ _("CC0") }}</a>{% endset %}
                    {% set reference %}<a target='_blank' href='https://maps.wikilovesmonuments.org'>{{ _("Wiki Loves Monuments Map") }}</a>{% endset %}
                    <small>
                        {{ _("Este aplicativo é inspirado no %(reference)s, desenvolvido por Paweł Marynowski e Stephen LaPorte", reference=reference) }}<br>
                        {{ _("Este aplicativo foi desenvolvido em %(flask)s.", flask=flask) }}<br>
                        {{ _("O código-fonte está disponível no %(github)s.", github=github) }}<br>
                        {{ _("Licença do cógido-fonte: %(license_code)s.", license_code=license_code) }}<br>
                        {{ _("Licença de textos: %(license_text)s.", license_text=license_text) }}<br>
                        {{ _("Licença de mapas: %(license_maps)s.", license_maps=license_maps) }}<br>
                        {{ _("Licença dos metadados retornados do Wikidata: %(license_wikidata)s.", license_wikidata=license_wikidata) }}<br>
                        {{ _("Versão 1.0.") }}
                    </small>
                </p>
            </div>
            {#                <div class="modal-footer">#}
            {#                </div>#}
        </div>
    </div>
</div>