{% extends "base.html" %}

{% block navbar %}
    {% with lang=lang, username=username %}
        {% include 'topnavbar.html' %}
    {% endwith %}
{% endblock %}

{% block title %}{{ _("Algo deu errado!") }}{% endblock %}

{% block banner %}
    <div class="w3-row">
        <div class="w3-container w3-quarter"></div>
        <h1 class="w3-container w3-half" style="text-align: center; padding-top:30px; padding-bottom:30px">
            {% if lang=="en" %}
                <img class="banner" src="{{ url_for('static', filename= 'images/logo - en.svg') }}"
                     alt='{{ _("Logotipo Wiki Loves Brasil") }}' width="25%"/>
            {% else %}
                <img class="banner" src="{{ url_for('static', filename= 'images/logo - pt.svg') }}"
                     alt='{{ _("Logotipo Wiki Loves Brasil") }}' width="25%"/>
            {% endif %}
        </h1>
    </div>
{% endblock %}

{% block content %}
    <div class="w3-row" style="text-align:center">
        <div class="w3-row" style="text-align:center; font-family: 'Josefin Sans', sans-serif; font-size:150%">
            <p style="text-align:center"><b>{{ _("Algo deu errado!") }}</b></p>
        </div>
        <br>
        <div class="w3-row">
            <div class="w3-quarter">&nbsp;</div>
            <div class="w3-half" style="margin-bottom: 1rem; ">
                {% if error %}
                    <p><strong>{{ _("Erro") }}</strong>: {{ error }}</p>
                {% endif %}
            </div>
            <div class="w3-quarter"></div>
        </div>
        <div class="w3-row">
            <div class="w3-quarter">&nbsp;</div>
            <div class="w3-half" style="text-align:center; font-family: 'Josefin Sans', sans-serif; font-size:150%; margin-bottom: 1rem">
                <a tabindex="0" href="https://github.com/WikiMovimentoBrasil/wikimotivos/issues" target="_blank">
                    <button type="button" class="button" id="report"
                            style="background-color:#990000;width:90%;margin:0;font-size:100%;color:#FFFFFF">
                        {{ _("REPORTAR ERRO") }}
                    </button>
                </a>
            </div>
            <div class="w3-quarter"></div>
        </div>
        <div class="w3-row">
            <div class="w3-quarter">&nbsp;</div>
            <div class="w3-row w3-half" style="text-align:center; font-family: 'Josefin Sans', sans-serif; font-size:150%; margin-bottom: 1rem">
                <a tabindex="0" href="{{ url_for('inicio') }}">
                    <button type="button" class="button" id="goback"
                            style="background-color:#990000;width:90%;margin:0;font-size:100%;color:#FFFFFF">
                        {{ _("VOLTAR À PÁGINA INICIAL") }}
                    </button>
                </a>
            </div>
            <div class="w3-quarter"></div>
        </div>
    </div>
{% endblock %}