{% extends "base.html" %}

{% block navbar %}
    {% with lang=lang, username=username %}
        {% include 'topnavbar.html' %}
    {% endwith %}
{% endblock %}

{% block title %}{% if metadata.label %}{{ metadata.label[0] }}{% else %}{{ metadata.qid[0] }}{% endif %}{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/leaflet.awesome-markers.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol/dist/L.Control.Locate.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
{% endblock %}

{% block banner %}{% endblock %}

{% block content %}
    {# Imagem e metadados #}
    <div class="w3-row section">
        <div class="w3-col margin-container">&nbsp;</div>
        <div class="w3-threequarter image-container">
            <div class="w3-third" id="image">
                <img style="width:100%" loading="lazy" src="{{ metadata.image }}?width=600px" alt="{{ metadata.label[0] }}">
            </div>
            <div class="w3-twothird" id="metadata-table-container">
                <table class="table table-borderless" id="metadata-table">
                    <thead>
                        <tr class="title">
                            <th colspan="4"><h2>{{ metadata.label[0] }}</h2></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if metadata.address[0] %}
                            <tr id="address">
                                <td class="table-icon"><i class="fa-solid fa-building"></i></td>
                                <td colspan="3">{{ metadata.address[0] }}</td>
                            </tr>
                        {% endif %}
                        <tr id="local">
                            <td class="table-icon"><i class="fa-solid fa-map-location-dot"></i></td>
                            <td colspan="3">{{ metadata.local | join("; ") }} &bull; {{ metadata.state[0] }} &bull; {{ metadata.country[0] }}</td>
                        </tr>
                        <tr id="category-wikipedia">
                            <td class="table-icon"><img src="{{ url_for('static', filename='images/commons.svg') }}" width="16px" alt="Wikimedia Commons"></td>
                            {% if metadata.commons_cat[0] %}
                                <td><a target="_blank" href="https://commons.wikimedia.org/wiki/Category:{{ metadata.commons_cat[0] }}">
                                    {{ _("%(number_images)s imagens", number_images=metadata.cat_info["files"]) }}
                                    {% if metadata.cat_info["subcats"]>0 %}
                                        {{ _(" e %(number_subcats)s subcategorias", number_subcats=metadata.cat_info["subcats"]) }}
                                    {% endif %}
                                </a></td>
                            {% else %}
                                <td class="no-info">{{ _("Nenhuma categoria no Wikimedia Commons") }}</td>
                            {% endif %}
                            <td class="table-icon"><i class="fa-brands fa-wikipedia-w"></i></td>
                            {% if metadata.sitelinks %}
                                <td><a href="#wikipedia">
                                    {% set sitelinks_number=metadata.sitelinks|length %}
                                    {% if sitelinks_number == 1 %}
                                        {{ _("1 artigo") }}
                                    {% elif sitelinks_number > 1 %}
                                        {{ _("%(number)s artigo(s) em diferentes idiomas", number=sitelinks_number) }}
                                    {% endif %}
                                </a></td>
                            {% else %}
                                <td class="no-info">{{ _("Nenhum artigo na Wikipédia") }}</td>
                            {% endif %}
                        </tr>
                        <tr id="wikidata-website">
                            <td class="table-icon"><img src="{{ url_for('static', filename='images/wikidata.svg') }}" width="18px" alt="wikidata"></td>
                            <td><a target="_blank" href="https://www.wikidata.org/wiki/{{ metadata.qid[0] }}">{{ _("Item no Wikidata") }}</a><br><span class="no-info">{{ metadata.qid[0] }}</span></td>
                            <td class="table-icon"><i class="fa-solid fa-link"></i></td>
                            {% if metadata.website and metadata.website[0] %}
                                <td><a target="_blank" href="{{ metadata.website[0] }}">{{ metadata.website[0] }}</a></td>
                            {% else %}
                                <td class="no-info">{{ _("Sem website oficial") }}</td>
                            {% endif %}
                        </tr>
                        {% if metadata.designated_patrimony %}
                            <tr id="designated-patrimony">
                                <td class="table-icon"><i class="fa-solid fa-landmark"></i></td>
                                <td colspan="3">
                                    <ul style="list-style-type:none; padding:0; margin:0">
                                        {% for key,value in metadata.designated_patrimony.items() %}
                                            <li>
                                                <a target="_blank" href="https://www.wikidata.org/wiki/{{ metadata.qid[0] }}#{{ key }}">{{ value.label }}</a>
                                                {% if value.num %}<br><span class="no-info">{{ value.num }}</span>{% endif %}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="w3-col margin-container">&nbsp;</div>
    </div>
    {# Tipos de imagens #}
    <div class="w3-row section">
        <div class="w3-col margin-container">&nbsp;</div>
        <div class="w3-threequarter space-border" id="types-of-images">
            <div class="w3-row title space-border"><h2>{{ _("Tipos de imagens") }}</h2></div>
            <div class="w3-row w3-center space-border">
                <div class="w3-half">
                    <div class="w3-quarter image-type">
                        <a class="custom-link {% if metadata.p18 and metadata.p18[0] %}with-info{% else %}no-info{% endif %}"
                           target="_blank" href="https://www.wikidata.org/wiki/{{ metadata.qid[0] }}#P18">
                            <i class="fa-solid fa-image" title="{{ _('Imagem do exterior') }}"></i>
                            <br>{{ _('Imagem do exterior') }}
                        </a>
                    </div>
                    <div class="w3-quarter image-type">
                        <a class="custom-link {% if metadata.p1766 and metadata.p1766[0] %}with-info{% else %}no-info{% endif %}"
                           target="_blank" href="https://www.wikidata.org/wiki/{{ metadata.qid[0] }}#P1766">
                            <i class="fa-solid fa-map-signs" title="{{ _('Placa com o nome do lugar') }}"></i>
                            <br>{{ _('Placa com o nome do lugar') }}
                        </a>
                    </div>
                    <div class="w3-quarter image-type">
                        <a class="custom-link {% if metadata.p1801 and metadata.p1801[0] %}with-info{% else %}no-info{% endif %}"
                           target="_blank" href="https://www.wikidata.org/wiki/{{ metadata.qid[0] }}#P1801">
                            <i class="fa-solid fa-medal" title="{{ _('Placa comemorativa') }}"></i>
                            <br>{{ _('Placa comemorativa') }}
                        </a>
                    </div>
                    <div class="w3-quarter image-type">
                        <a class="custom-link {% if metadata.p5775 and metadata.p5775[0] %}with-info{% else %}no-info{% endif %}"
                           target="_blank" href="https://www.wikidata.org/wiki/{{ metadata.qid[0] }}#P5775">
                            <i class="fa-solid fa-door-open" title="{{ _('Imagem do interior') }}"></i>
                            <br>{{ _('Imagem do interior') }}
                        </a>
                    </div>
                </div>
                <div class="w3-half">
                    <div class="w3-quarter image-type">
                        <a class="custom-link {% if metadata.p3451 and metadata.p3451[0] %}with-info{% else %}no-info{% endif %}"
                           target="_blank" href="https://www.wikidata.org/wiki/{{ metadata.qid[0] }}#P3451">
                            <i class="fa-solid fa-moon" title="{{ _('Vista noturna') }}"></i>
                            <br>{{ _('Vista noturna') }}
                        </a>
                    </div>
                    <div class="w3-quarter image-type">
                        <a class="custom-link {% if metadata.p4291 and metadata.p4291[0] %}with-info{% else %}no-info{% endif %}"
                           target="_blank" href="https://www.wikidata.org/wiki/{{ metadata.qid[0] }}#P4291">
                            <i class="fa-solid fa-panorama" title="{{ _('Vista panorâmica') }}"></i>
                            <br>{{ _('Vista panorâmica') }}
                        </a>
                    </div>
                    <div class="w3-quarter image-type">
                        <a class="custom-link {% if metadata.p8592 and metadata.p8592[0] %}with-info{% else %}no-info{% endif %}"
                           target="_blank" href="https://www.wikidata.org/wiki/{{ metadata.qid[0] }}#P8592">
                            <i class="fa-solid fa-helicopter" title="{{ _('Vista aérea') }}"></i>
                            <br>{{ _('Vista aérea') }}
                        </a>
                    </div>
                    <div class="w3-quarter image-type">
                        <a class="custom-link {% if metadata.p9721 and metadata.p9721[0] %}with-info{% else %}no-info{% endif %}"
                           target="_blank" href="https://www.wikidata.org/wiki/{{ metadata.qid[0] }}#P9721">
                            <i class="fa-solid fa-dungeon" title="{{ _('Imagem da entrada') }}"></i>
                            <br>{{ _('Imagem da entrada') }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="w3-col margin-container">&nbsp;</div>
    </div>
    {# Envio de imagens #}
    <div class="w3-row section">
        <div class="w3-col margin-container">&nbsp;</div>
        <div class="w3-threequarter space-border">
            <div class="w3-row title space-border"><h2>{{ _("Envio de imagens") }}</h2></div>
            <div class="w3-row w3-center">
                <p class="space-border">
                    {{ _("Carregue suas fotografias deste monumento entre") }}<br>{{ _("1 e 30 de setembro") }}<br>{{ _("para participar do Wiki Loves Monuments Brasil") }}
                </p>
                <div class="w3-container" id="upload_container" style="padding:0">
                    <form id="upload-images" method="post" enctype="multipart/form-data">
                        <div class="w3-container" id="file-drop-area">
                            <p style="margin:0 0 1rem 0">{{ _("Arraste e solte seus arquivos ou clique para selecioná-los") }}</p>
                            <input type="file" id="fileElem" name="files" multiple accept="image/*" onchange="handleDrop(this.files)">
                            <label id="selectFiles" for="fileElem" style="font-size: 100%"><i class="fa-solid fa-file-import"></i> {{ _("Escolher arquivo(s)") }}</label>
                        </div>
                        <div class="w3-container" id="files_to_upload"></div>
                    </form>
                </div>
            </div>
        </div>
        <div class="w3-col margin-container">&nbsp;</div>
    </div>
    {# Wikipédia #}
    {% if metadata.article %}
        <div class="w3-row section">
            <div class="w3-col margin-container">&nbsp;</div>
            <div class="w3-threequarter" style="padding: 0 15px" id="wikipedia">
                <table class="table table-borderless" style="width:100%; margin:0">
                    <thead>
                    <tr>
                        <th style="border-bottom: 1px solid #777777;text-align: left">
                            <h2 style="float:left; margin:0"><i
                                    class="fa-brands fa-wikipedia-w"></i> {{ _("Wikipédia") }}</h2>
                            <span style="float: right; margin:0"><a target="_blank"
                                                                    href="https://www.wikidata.org/wiki/{{ metadata.qid[0] }}#sitelinks-wikipedia">{{ _("Veja artigos em outros idiomas") }}</a></span>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td style="padding:1rem">
                            {{ metadata.article|safe }}
                            <p style="float: right">
                                <a target="_blank"
                                   href="https://{{ metadata.article_wiki }}.wikipedia.org/wiki/{{ metadata.article_name }}">{{ _("Leia mais na Wikipédia!") }}</a>
                            </p>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="w3-col margin-container">&nbsp;</div>
        </div>
    {% endif %}
    {# Mapa #}
    <div class="w3-row section">
        <div class="w3-col margin-container">&nbsp;</div>
        <div class="w3-threequarter" style="padding: 0 15px;">
            <table class="table table-borderless" style="width:100%; margin:0">
                <thead>
                <tr>
                    <th style="border-bottom: 1px solid #777777;text-align: left">
                        <h2 style="float:left; margin:0"><i class="fa-solid fa-earth-americas"></i> {{ _("Mapa") }}</h2>
                    </th>
                </tr>
                </thead>
                <tbody id="location">
                <tr>
                    <td style="height:600px; padding:0 0 30px 0">
                        <div id="map"></div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="w3-col margin-container">&nbsp;</div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="{{ url_for('static', filename='js/leaflet.awesome-markers.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol/dist/L.Control.Locate.min.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script>
        let dropArea = document.getElementById('file-drop-area')
        ;['dragenter', 'dragover', 'dragleave', 'drop'].forEach(eventName => {
            dropArea.addEventListener(eventName, preventDefaults, false)
        })

        ;['dragenter', 'dragover'].forEach(eventName => {
            dropArea.addEventListener(eventName, highlight, false)
        })

        ;['dragleave', 'drop'].forEach(eventName => {
            dropArea.addEventListener(eventName, unhighlight, false)
        })

        function preventDefaults(e) {
            e.preventDefault()
            e.stopPropagation()
        }

        function highlight(e) {
            dropArea.classList.add('highlight')
        }

        function unhighlight(e) {
            dropArea.classList.remove('highlight')
        }

        dropArea.addEventListener('drop', handleDrop, false);

        var _Files = [];

        function handleDrop(e) {
            if (e.dataTransfer && e.dataTransfer.items) {
                for (var i = 0; i < e.dataTransfer.items.length; i++) {
                    if (e.dataTransfer.items[i].kind === 'file') {
                        var file = e.dataTransfer.items[i].getAsFile();
                        _Files.push(file)
                    }
                }
            } else if (e.dataTransfer && e.dataTransfer.files) {
                for (var i = 0; i < e.dataTransfer.files.length; i++) {
                    _Files.push(e.dataTransfer.files[i])
                }
            } else {
                for (var i = 0; i < e.length; i++) {
                    _Files.push(e[i])
                }
            }
            console.log(_Files);
            showFiles(_Files);
        }

        function showFiles(files) {
            var monumentName = "{{ metadata.label[0] }}";
            const monumentLocal = "{{ metadata.local[0] }}";
            const max_size = 210-monumentLocal.length;
            if(monumentName.length > max_size) {monumentName = monumentName.substring(0, max_size-5) + "(...)"}

            var info = ""

            for (var i = 0; i < files.length; i++) {
                const filesizeKb = files[i].size / 1024;
                const filesizeMb = filesizeKb / 1024;
                let filesize = filesizeKb.toFixed(2).toString() + " Kb"
                if (filesizeKb >= 1024) {
                    filesize = filesizeMb.toFixed(2).toString() + " Mb"
                }

                let suggestedName = monumentLocal + " - " + monumentName + " - " + files[i].lastModified.toString();
                info += "<div class='w3-row'><form='submit-images'><div class='w3-col w3-left w3-mobile' style='width:130px'>" +
                    "<div class='w3-row'>{{ _('Imagem') }}</div>" +
                    "<div class='w3-row'><div id='preview" + i.toString() + "'></div></div></div>" +
                    "<div class='w3-col w3-right w3-mobile' style='width:230px'>" +
                    "<div class='w3-row'>{{ _('Tipo de imagem') }}</div>" +
                    "<div class='w3-row'>" +
                    "<select id='image_type_" + i.toString() + "' class='form-control'>" +
                    "<option value=\"P18\" title=\"{{ _('Imagem ilustrativa do monumento') }}\">{{ _('Imagem do exterior') }}</option>" +
                    "<option value=\"P1766\" title=\"{{ _('Imagem de placa de trânsito com nome de local') }}\">{{ _('Placa com o nome do lugar') }}</option>" +
                    "<option value=\"P1801\" title=\"{{ _('Imagem de placa de inauguração ou inscrição mencionando o monumento') }}\">{{ _('Placa comemorativa') }}</option>" +
                    "<option value=\"P5775\" title=\"{{ _('Vista do interior de um edifício ou espaço fechado') }}\">{{ _('Imagem do interior') }}</option>" +
                    "<option value=\"P3451\" title=\"{{ _('Monumento ao entardecer ou à noite') }}\">{{ _('Vista noturna') }}</option>" +
                    "<option value=\"P4291\" title=\"{{ _('Ampla vista geral que contém o monumento') }}\">{{ _('Vista panorâmica') }}</option>" +
                    "<option value=\"P8592\" title=\"{{ _('Fotografia de um monumento tirada do ar, por um drone, por exemplo') }}\">{{ _('Vista aérea') }}</option>" +
                    "<option value=\"P9721\" title=\"{{ _('Vista da entrada de um edifício ou espaço fechado, vista do lado de fora') }}\">{{ _('Imagem da entrada') }}</option>" +
                    "</select></div></div>" +
                    "<div class='w3-rest w3-mobile'>" +
                    "<div class='w3-row'>{{ _('Título da imagem no Wikimedia Commons') }}</div>" +
                    "<div class='w3-row'>" +
                    "<input type='text' name='suggestedfilename_" + i.toString() + "' id='suggestedfilename_" + i.toString() + "' value='" + suggestedName + "'>" +
                    "<input type='text' name='filename_" + i.toString() + "' id='filename_" + i.toString() + "' value='" + files[i].name + "' hidden>" +
                    files[i].name + " (" + filesize + ")</div></div></div>"
                renderImages(files[i], i);
            }

            var innerHtml = "<div class='w3-container' id='to_be_uploaded_files'>" + info + "</div>";

            $("#files_to_upload").html(innerHtml);
            renderLicense();
        }

        function renderImages(file, idx) {
            let reader = new FileReader();
            let img = jQuery.parseHTML("<img src=\"\">");

            reader.onload = function (e) {
                img[0].src = e.target.result;
                $("#preview" + idx.toString()).append(img);
            }
            reader.readAsDataURL(file);
        }

        function renderLicense() {
            const license = jQuery.parseHTML("<div class=\"w3-container\" id=\"license\">" +
                "<div class='w3-threequarter' id=\"license-message\">{{ _('Eu, %(username)s, detentor(a) dos direitos autorais desta(s) imagem(ns), concedo <b>irrevogavelmente</b> a qualquer pessoa o direito de utilizá-la sob a <a target=\'_blank\' href=\'https://creativecommons.org/licenses/by-sa/4.0/deed.pt_BR\'>licença Creative Commons Atribuição-CompartilhaIgual 4.0</a>. Com isso, qualquer pessoa poderá usar, compartilhar ou remixar esta imagem, contanto que me creditem e compartilhem qualquer obra derivada sob esta mesma licença.', username = username) }}</div>" +
                "<div class=\"w3-quarter\"><button type=\"submit\" form=\"upload-images\" style=\"float: right; font-size: 100%\"><i class=\"fa-solid fa-upload\"></i> {{ _('Enviar imagem(ns)') }}</button></div></div>");
            $("#license").remove();
            $("#upload_container").append(license);
        }

        function handleFiles(files) {
            showFiles(files);
        }

    </script>
    <script>
        const credits = '{{ _("Contribuidores do OpenStreetMap") }}';
        const whereAmIMsg = '{{ _("Mostre-me onde estou") }}';

        const osm_map = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 18,
            minZoom: 4,
            attribution: '&copy; <a href="https://openstreetmap.org/copyright">' + credits + '</a>'
        });

        const blueIcon = L.AwesomeMarkers.icon({
            icon: 'fa-solid fa-landmark',
            markerColor: 'darkblue',
            iconColor: 'white',
            prefix: 'fas'
        });

        var map = L.map('map', {layers: [osm_map]});

        var marker = L.marker({
            lat: {{ metadata.coord[1] }},
            lon: {{ metadata.coord[0] }}
        }, {icon: blueIcon}).addTo(map);

        // Buttons
        // This code adds a button for users locate themselves in the map
        const locate = L.control.locate({
            flyTo: true,
            returnToPrevBounds: true,
            icon: 'locate fa-solid fa-location-dot',
            iconElementTag: 'i',
            strings: {
                title: whereAmIMsg
            },
        }).addTo(map);

        map.setView([{{ metadata.coord[1] }}, {{ metadata.coord[0] }}], 18)
    </script>
{% endblock %}