{% extends "base.html" %}

{% block title %}{% if metadata.label %}{{ metadata.label[0] }}{% else %}{{ metadata.qid[0] }}{% endif %}{% endblock %}

{% block navbar %}
    {% with lang=lang, username=username, mapa_geral=True, mapa=True, geolocate=False, uf=uf, suggest=True %}
        {% include 'topnavbar.html' %}
    {% endwith %}
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/leaflet.awesome-markers.css') }}">
    <link rel="stylesheet" href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol/dist/L.Control.Locate.min.css"/>
    <link rel="stylesheet" href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
{% endblock %}

{% block banner %}{% endblock %}

{% block content %}
    <div class="flex-container" style="flex-flow: row-reverse">
        <div class="w3-half" style="flex: 50%">
            {# Envio de imagens #}
            <div class="w3-row section" style="height: 100%">
                <div class="space-border">
                    <div class="w3-row title space-border"><h2>{{ _("Envio de imagens") }}</h2></div>
                    <div class="w3-row w3-center">
                        <p class="space-border">
                            {{ _("Carregue suas fotografias deste monumento entre") }} {{ _("1 e 30 de setembro") }} {{ _("para participar do Wiki Loves Monuments Brasil.") }}
                        </p>
                        <div class="w3-container" id="upload_container" style="padding:0">
                            {% if username %}
                            <form id="upload-images" method="post" enctype="multipart/form-data">
                                <input id="monument_id" name="qid" type="text" value="{{ metadata.qid[0] }}" hidden>
                                <div class="w3-container" id="file-drop-area">
                                    <p style="margin:0 0 1rem 0">{{ _("Arraste e solte seus arquivos ou clique para selecioná-los") }}</p>
                                    <input type="file" id="fileElem" name="files" multiple accept="image/*" onchange="handleFiles(this.files);">
                                    <label id="selectFiles" for="fileElem" style="font-size: 100%">
                                        <i class="fa-solid fa-file-import"></i> {{ _("Escolher arquivo(s)") }}
                                    </label>
                                </div>
                                <div class="w3-container" id="files_to_upload"></div>
                            </form>
                            {% else %}
                                <div class="w3-container" id="login-area">
                                    <p style="margin:0 0 1rem 0">{{ _("Autentique-se para enviar suas imagens") }}</p>
                                    <a class="custom-link" id="authenticate" style="display:inline-block; font-size: 100%" href="{{ url_for('login', next=request.script_root + request.full_path) }}">
                                        <i class="fa-solid fa-right-to-bracket"></i> {{ _("Autenticar-se") }}
                                    </a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="w3-half" style="flex: 50%">
            {# Imagem e metadados #}
            <div class="w3-row section flex-container" style="display:flex; flex-flow:row; align-items: center">
                <div class="w3-third space-border" id="image" style="flex:33%; order:1">
                    <img style="width:100%" loading="lazy" src="{{ metadata.image }}?width=600px" alt="{{ metadata.label[0] }}">
                </div>
                <div class="w3-twothird space-border" id="metadata-table-container" style="flex:67%; order:2">
                    <div class="w3-row title space-border">
                        <h2>{{ metadata.label[0] }}</h2>
                    </div>
                    {% if metadata.address[0] %}
                        <div class="w3-row space-border-minus-bottom" id="address">
                            <i class="fa-solid fa-building"></i> {{ metadata.address[0] }}
                        </div>
                    {% endif %}
                    <div class="w3-row space-border-minus-bottom" id="local">
                        <i class="fa-solid fa-map-location-dot"></i> {{ metadata.local | join("; ") }} &bull; {{ metadata.state[0] }} &bull; {{ metadata.country[0] }}
                    </div>
                    <div class="w3-row space-border-minus-bottom" id="wiki">
                        {% if metadata.commons_cat[0] %}
                            <div class="w3-half" style="width:50% !important">
                                <img src="{{ url_for('static', filename='images/commons.svg') }}" width="16px" alt="Wikimedia Commons">
                                <a target="_blank" href="https://commons.wikimedia.org/wiki/Category:{{ metadata.commons_cat[0] }}">
                                    {% if metadata.cat_info["files"] > 1 %}
                                        {{ _("%(number_images)s imagens", number_images=metadata.cat_info["files"]) }}
                                    {% else %}
                                        {{ _("Única imagem") }}
                                    {% endif %}
                                </a>
                            </div>
                        {% endif %}
                        {% if metadata.sitelinks %}
                            <div class="w3-half" style="width:50% !important">
                                <i class="fa-brands fa-wikipedia-w"></i>
                                <a href="#wikipedia">{{_("Artigo na Wikipédia")}}</a>
                            </div>
                        {% else %}
                            <div class="w3-half" style="width:50% !important">
                                <img src="{{ url_for('static', filename='images/wikidata.svg') }}" width="18px" alt="wikidata">
                                <a target="_blank" href="https://www.wikidata.org/wiki/{{ metadata.qid[0] }}">
                                    {{ _("Item no Wikidata") }}
                                </a>
                            </div>
                        {% endif %}
                    </div>
                    <div class="w3-row space-border-minus-bottom" id="designated-patrimony">
                        <i class="fa-solid fa-landmark"></i>
                        <ul style="list-style-type:none; padding:0; margin:0; display: inline-table">
                            {% for key,value in metadata.designated_patrimony.items() %}
                                <li>
                                    <a target="_blank" href="https://www.wikidata.org/wiki/{{ metadata.qid[0] }}#{{ key }}">
                                        {{ value.label }}
                                    </a>
                                    {% if value.num %}
                                        <br><span class="no-info">{{ value.num }}</span>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            {# Tipos de imagens #}
            <div class="w3-row section">
                <div class="space-border" id="types-of-images">
                    <div class="w3-row title space-border">
                        <h2 class="collapsable-title" data-toggle="collapse" href="#types-of-image-container" aria-expanded="false" aria-controls="types-of-image-container">
                            {{ _("Tipos de imagens") }} <span style="float:right"><i class="fa-solid fa-chevron-down"></i></span>
                        </h2>
                    </div>
                    <div class="collapse" id="types-of-image-container">
                        <div class="w3-row">
                            <p>
                                {{ _("Abaixo estão os principais tipos de fotografias de monumentos.") }}
                            </p>
                        </div>
                        <div class="w3-row w3-center space-border">
                            <div class="w3-half" style="margin-bottom: 1rem">
                                <div class="w3-half" style="width:50% !important;">
                                    <a class="custom-link {% if metadata.p18 and metadata.p18[0] %}with-info{% else %}no-info{% endif %}"
                                       target="_blank" href="https://www.wikidata.org/wiki/{{ metadata.qid[0] }}#P18" title="{{ _('Imagem ilustrativa do monumento') }}">
                                        <i class="fa-solid fa-image"></i>
                                        <br>{{ _('Imagem do exterior/Imagem ilustrativa') }}
                                    </a>
                                </div>
                                <div class="w3-half" style="width:50% !important;">
                                    <a class="custom-link {% if metadata.p5775 and metadata.p5775[0] %}with-info{% else %}no-info{% endif %}"
                                       target="_blank" href="https://www.wikidata.org/wiki/{{ metadata.qid[0] }}#P5775" title="{{ _('Vista do interior de um edifício ou espaço fechado') }}">
                                        <i class="fa-solid fa-door-open"></i>
                                        <br>{{ _('Imagem do interior do monumento') }}
                                    </a>
                                </div>
                            </div>
                            <div class="w3-half" style="margin-bottom: 1rem">
                                <div class="w3-half" style="width:50% !important;">
                                    <a class="custom-link {% if metadata.p9721 and metadata.p9721[0] %}with-info{% else %}no-info{% endif %}"
                                       target="_blank" href="https://www.wikidata.org/wiki/{{ metadata.qid[0] }}#P9721" title="{{ _('Vista da entrada de um edifício ou espaço fechado, vista do lado') }}">
                                        <i class="fa-solid fa-dungeon"></i>
                                        <br>{{ _('Imagem da entrada vista de fora ') }}
                                    </a>
                                </div>
                                <div class="w3-half" style="width:50% !important;">
                                    <a class="custom-link {% if metadata.p9906 and metadata.p9906[0] %}with-info{% else %}no-info{% endif %}"
                                       target="_blank" href="https://www.wikidata.org/wiki/{{ metadata.qid[0] }}#P9906" title="{{ _('Imagem de inscrições no monumento') }}">
                                        <i class="fa-solid fa-rectangle-list"></i>
                                        <br>{{ _('Imagem de inscrição no monumento') }}
                                    </a>
                                </div>
                            </div>
                            <div class="w3-half" style="margin-bottom: 1rem">
                                <div class="w3-half" style="width:50% !important;">
                                    <a class="custom-link {% if metadata.p3451 and metadata.p3451[0] %}with-info{% else %}no-info{% endif %}"
                                       target="_blank" href="https://www.wikidata.org/wiki/{{ metadata.qid[0] }}#P3451" title="{{ _('Monumento ao entardecer ou à noite') }}">
                                        <i class="fa-solid fa-moon"></i>
                                        <br>{{ _('Vista noturna ou ao entardecer') }}
                                    </a>
                                </div>
                                <div class="w3-half" style="width:50% !important;">
                                    <a class="custom-link {% if metadata.p8592 and metadata.p8592[0] %}with-info{% else %}no-info{% endif %}"
                                       target="_blank" href="https://www.wikidata.org/wiki/{{ metadata.qid[0] }}#P8592" title="{{ _('Fotografia de um monumento tirada do ar, por um drone, por exemplo') }}">
                                        <i class="fa-solid fa-helicopter"></i>
                                        <br>{{ _('Vista aérea') }}
                                    </a>
                                </div>
                            </div>
                            <div class="w3-half" style="margin-bottom: 1rem">
                                <div class="w3-half" style="width:50% !important;">
                                    <a class="custom-link {% if metadata.p1801 and metadata.p1801[0] %}with-info{% else %}no-info{% endif %}"
                                       target="_blank" href="https://www.wikidata.org/wiki/{{ metadata.qid[0] }}#P1801" title="{{ _('Imagem de placa de inauguração ou inscrição mencionando o monumento') }}">
                                        <i class="fa-solid fa-medal"></i>
                                        <br>{{ _('Placa comemorativa ou de inauguração') }}
                                    </a>
                                </div>
                                <div class="w3-half" style="width:50% !important;">
                                    <a class="custom-link {% if metadata.p1766 and metadata.p1766[0] %}with-info{% else %}no-info{% endif %}"
                                       target="_blank" href="https://www.wikidata.org/wiki/{{ metadata.qid[0] }}#P1766" title="{{ _('Imagem de placa de trânsito com nome de local') }}">
                                        <i class="fa-solid fa-map-signs"></i>
                                        <br>{{ _('Placa de trânsito com o nome do monumento') }}
                                    </a>
                                </div>
                            </div>
                            <div class="w3-half" style="margin-bottom: 1rem">
                                <div class="w3-half" style="width:50% !important;">
                                    <a class="custom-link {% if metadata.p8517 and metadata.p8517[0] %}with-info{% else %}no-info{% endif %}"
                                       target="_blank" href="https://www.wikidata.org/wiki/{{ metadata.qid[0] }}#P8517" title="{{ _('Imagem que o observador vê estando no monumento') }}">
                                        <i class="fa-solid fa-mountain-sun"></i>
                                        <br>{{ _('Vista a partir do monumento') }}
                                    </a>
                                </div>
                                <div class="w3-half" style="width:50% !important;">
                                    <a class="custom-link {% if metadata.p4291 and metadata.p4291[0] %}with-info{% else %}no-info{% endif %}"
                                       target="_blank" href="https://www.wikidata.org/wiki/{{ metadata.qid[0] }}#P4291" title="{{ _('Ampla vista geral que contém o monumento') }}">
                                        <i class="fa-solid fa-panorama"></i>
                                        <br>{{ _('Imagem panorâmica do monumento') }}
                                    </a>
                                </div>
                            </div>
                            <div class="w3-half" style="margin-bottom: 1rem">
                                <div class="w3-half" style="width:50% !important;">
                                    <a class="custom-link {% if metadata.p3311 and metadata.p3311[0] %}with-info{% else %}no-info{% endif %}"
                                       target="_blank" href="https://www.wikidata.org/wiki/{{ metadata.qid[0] }}#P3311" title="{{ _('Imagem representando a planta de um edifício ou local') }}">
                                        <i class="fa-solid fa-ruler-combined"></i>
                                        <br>{{ _('Imagem da planta de um edifício') }}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {# Wikipédia #}
            {% if metadata.article %}
                <div class="w3-row section">
                    <div class="space-border">
                        <div id="wikipedia">
                            <div class="w3-row title space-border">
                                <h2 class="collapsable-title" data-toggle="collapse" href="#wikipedia-container" aria-expanded="false" aria-controls="wikipedia-container">
                                    <i class="fa-brands fa-wikipedia-w"></i> {{ _("Wikipédia") }} <span style="float:right"><i class="fa-solid fa-chevron-down"></i></span>
                                </h2>
                            </div>
                            <div id="wikipedia-container" class="w3-row space-border collapse">
                                {{ metadata.article|safe }}
                                <a target="_blank" href="https://{{ metadata.article_wiki }}.wikipedia.org/wiki/{{ metadata.article_name }}">{{ _("Leia mais na Wikipédia!") }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
            {# Mapa #}
            <div class="w3-row section">
                <div class="space-border">
                    <div id="map_section">
                        <div class="w3-row title space-border">
                            <h2>
                                <i class="fa-solid fa-earth-americas"></i> {{ _("Mapa") }}
                            </h2>
                        </div>
                        <div id="location" style="height:600px;">
                            <div id="map"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    <footer style="text-align:left;position: relative;padding: 0 15px" id="footer">
        <hr>
        <p style="font-size:90%; text-align: justify">
            {% set projeto %}<a tabindex="0" target='_blank' aria-label='{{_("Wiki Movimento Brasil")}}' href='https://meta.wikimedia.org/wiki/Wiki_Movement_Brazil_User_Group/{{ lang }}'>{{_("Grupo de usuários Wiki Movimento Brasil")}}</a>{% endset %}
            {{_("<i>Wiki Loves Brasil</i> é um aplicativo desenvolvido pelo <i><b>%(projeto)s</b></i>.", projeto=projeto)}}
        </p>
    </footer>
{% endblock %}

{% block scripts %}
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="{{ url_for('static', filename='js/leaflet.awesome-markers.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol/dist/L.Control.Locate.min.js" charset="utf-8"></script>
    <script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/exif-js"></script>
    <script>
        const credits_osm = '&copy; <a href="https://openstreetmap.org/copyright">{{ _("Contribuidores do OpenStreetMap") }}</a>';
        const credits_wikimedia = '<a href="https://foundation.wikimedia.org/wiki/Maps_Terms_of_Use">{{ _("Mapas da Wikimedia") }}</a> | ' + credits_osm;
        const whereAmIMsg = '{{ _("Mostre-me onde estou") }}';

        let map = L.map('map',{zoomControl:false});

        const osm_map = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            minZoom: 4,
            attribution: credits_osm
        }).addTo(map);

        const wm_map = L.tileLayer('https://maps.wikimedia.org/osm-intl/{z}/{x}/{y}.png', {
            maxZoom: 19,
            minZoom: 4,
            attribution: credits_wikimedia
        });

        const blueIcon = L.AwesomeMarkers.icon({
            icon: 'fa-solid fa-landmark',
            markerColor: 'darkblue',
            iconColor: 'white',
            prefix: 'fas'
        });

        let marker = L.marker({
            lat: {{ metadata.coord[1] }},
            lon: {{ metadata.coord[0] }}
        }, {icon: blueIcon}).addTo(map);

        // Buttons

        // Zoom
        L.control.zoom({
            position: 'bottomright'
        }).addTo(map);

        // Locate
        let locate = L.control.locate({
            flyTo: true,
            position: 'bottomright',
            returnToPrevBounds: true,
            icon: 'locate fa-solid fa-location-dot',
            iconElementTag: 'i',
            strings: {
                title: whereAmIMsg
            },
        }).addTo(map);

        // Layers
        L.control.layers({"OpenStreetMap": osm_map, "Wikimedia": wm_map}, null,{position: 'bottomright'}).addTo(map);

        map.setView([{{ metadata.coord[1] }}, {{ metadata.coord[0] }}], 18)
    </script>
    <script>
        let _Files = [];
        let _Files_names = [];

        const Item = ({filename, suggestedFilename, dateTimeOriginal, coordinates, size}) => {
            {#<div class="w3-col w3-left w3-mobile" style="width:120px"><img src="${image}" width="120px" alt="${filename}"></div>#}
            return `
            <div class="file-upload-container" id="file_upload_container_${filename}">
            <div class="w3-col w3-left w3-mobile" style="width:120px" id="image_container_${filename}"></div>
            <div class="w3-rest w3-mobile" style="width:100%">
                <table class="upload_table" id="upload_table_${filename}" style="width:100%">
                    <thead>
                        <tr>
                            <th colspan="3" style="line-height:3rem">${filename} (${size}) <button type="button" class="custom remove_icon" id="remove_${filename}" onclick="removeFile(this.id);"><i class="fa-solid fa-xmark"></i> {{ _("Remover") }}</button> <div class="spinner-border loading-wheel" id="loading_${filename}" role="status" style="display:none"><span class="sr-only">{{_('Enviando')}}</span></div></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="width:15%; max-width:100px; padding:0.75rem 0"><label for="suggestedFilename_${filename}">{{ _('Título: ') }}</label></td>
                            <td>
                                <input type="text" name="suggestedFilename_${filename}" id="suggestedFilename_${filename}" style="width:100%; min-height:40px; border:2px solid #000000" value="${suggestedFilename}">
                                <label for="filename_${filename}" hidden>{{ _("Nome do arquivo") }}</label>
                                <input type="text" name="filename_${filename}" id="filename_${filename}" value="${filename}" hidden>
                                <label for="filedate_${filename}" hidden>{{ _("Data") }}</label>
                                <input type="text" name="filedate_${filename}" id="filedate_${filename}" value="${dateTimeOriginal}" hidden>
                                <label for="coordinates_${filename}" hidden>{{ _("Coordenadas Geográficas") }}</label>
                                <input type="text" name="coordinates_${filename}" id="coordinates_${filename}" value="${coordinates}" hidden>
                            </td>
                        </tr>
                        <tr>
                            <td style="width:15%; max-width:100px; padding:0.75rem 0"><label for="image_type_${filename}">{{ _('Típo: ') }}</label></td>
                            <td>
                                <select id="image_type_${filename}" style="width:100%; width:100%; min-height:40px; border:2px solid #000000">
                                    <option value="P18" title="{{ _('Não tenho certeza') }}">{{ _('Selecione o tipo de imagem (opcional)') }}</option>
                                    <option value="P18" title="{{ _('Imagem ilustrativa do monumento') }}">{{ _('Imagem do exterior/Imagem ilustrativa') }}</option>
                                    <option value="P5775" title="{{ _('Vista do interior de um edifício ou espaço fechado') }}">{{ _('Imagem do interior do monumento') }}</option>
                                    <option value="P9721" title="{{ _('Vista da entrada de um edifício ou espaço fechado, vista do lado de fora') }}">{{ _('Imagem da entrada vista de fora') }}</option>
                                    <option value="P9906" title="{{ _('Imagem de inscrições no monumento') }}">{{ _('Imagem de inscrição no monumento') }}</option>
                                    <option value="P1801" title="{{ _('Imagem de placa de inauguração ou inscrição mencionando o monumento') }}">{{ _('Placa comemorativa ou de inauguração') }}</option>
                                    <option value="P1766" title="{{ _('Imagem de placa de trânsito com nome de local') }}">{{ _('Placa de trânsito com o nome do monumento') }}</option>
                                    <option value="P8592" title="{{ _('Fotografia de um monumento tirada do ar, por um drone, por exemplo') }}">{{ _('Vista aérea do monumento') }}</option>
                                    <option value="P3451" title="{{ _('Monumento ao entardecer ou à noite') }}">{{ _('Vista noturna ou ao entardecer') }}</option>
                                    <option value="P4291" title="{{ _('Ampla vista geral que contém o monumento') }}">{{ _('Imagem panorâmica do monumento') }}</option>
                                    <option value="P8517" title="{{ _('Imagem que o observador vê estando no monumento') }}">{{ _('Vista a partir do monumento') }}</option>
                                    <option value="P3311" title="{{ _('Imagem representando a planta de um edifício ou local') }}">{{ _('Imagem da planta de um edifício') }}</option>
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            </div>
            `
        }

        let monumentName = "{{ metadata.label[0] }}";
        const monumentLocal = "{{ metadata.local[0] }}";
        const max_size = 210 - monumentLocal.length;
        if (monumentName.length > max_size) { monumentName = monumentName.substring(0, max_size - 5) + "(...)" }

        const MAX_WIDTH = 120;
        const MIME_TYPE = "image/jpeg";
        const QUALITY = 0.7;

        const input = document.getElementById("fileElem");

        // Everytime a change in the input occurs, do the following
        function handleFiles(e) {
            // For each new file in input, check the filename and if it is not there already, do the following
            for (var i = 0; i < e.length; i++) {
                if (jQuery.inArray(e[i].name,_Files_names) === -1) {
                    // Get the EXIF information if available and also generate a thumbnail
                    _Files_names.push(e[i].name);
                    _Files.push(e[i]);
                    EXIF.getData(e[i], function () {
                        let filesize = readableBytes(this.size);
                        let filename = this.name;
                        let dateFormatted = dateFormatting(EXIF.getTag(this, "DateTimeOriginal"), this.lastModified);
                        let suggestedFilename = monumentName + " - " + monumentLocal + " - " + timestampFormatting(EXIF.getTag(this, "DateTimeOriginal"), this.lastModified);
                        let coordinates = clearCoordinates(EXIF.getAllTags(this));

                        // Generating a thumbnail image
                        // Part of the code adapted from https://labs.madisoft.it/javascript-image-compression-and-resizing
                        const file = this;
                        const blobURL = URL.createObjectURL(file);
                        const image = new Image();
                        image.src = blobURL;
                        image.onload = function () {
                            URL.revokeObjectURL(this.src);
                            const [newWidth, newHeight] = calculateSize(image, MAX_WIDTH);
                            const canvas = document.createElement("canvas");
                            canvas.width = newWidth;
                            canvas.height = newHeight;
                            const ctx = canvas.getContext("2d");
                            ctx.drawImage(image, 0, 0, newWidth, newHeight);
                            canvas.toBlob(
                                (blob) => {},
                                MIME_TYPE,
                                QUALITY
                            );

                            // Add the element with all the information and thumbnail into the container
                            let elem = ([{ filename: filename, dateTimeOriginal: dateFormatted, coordinates: coordinates, size: filesize, suggestedFilename: suggestedFilename }].map(Item));
                            $("#files_to_upload").append(elem);
                            document.getElementById("image_container_"+filename).append(canvas);
                        };
                    })
                    renderLicense();
                }
            }
        }

        // Metadata functions
        function calculateSize(img, maxWidth) {
            let width = maxWidth;
            let height = Math.round((img.height * maxWidth) / img.width);

            return [width, height];
        }

        function readableBytes(bytes) {
            const i = Math.floor(Math.log(bytes) / Math.log(1024));
            const sizes = ['B', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'];
            return (bytes / Math.pow(1024, i)).toFixed(2) + ' ' + sizes[i];
        }

        function dateFormatting(dateOriginal, lastModified) {
            if (dateOriginal) {
                let regexDate = new RegExp("(\\d{4}):(\\d{2})\\:(\\d{2}).*");
                let dateMatch = regexDate.exec(dateOriginal);
                return dateMatch[1] + "-" + dateMatch[2] + "-" + dateMatch[3];
            } else {
                let newDate = new Date(lastModified);
                return newDate.toLocaleString('en-us', {year: 'numeric', month: '2-digit', day: '2-digit'}).replace(/(\d+)\/(\d+)\/(\d+)/, '$3-$1-$2');
            }
        }

        function timestampFormatting(dateOriginal, lastModified) {
            if (dateOriginal) {
                let regexDate = new RegExp("(\\d{4}):(\\d{2})\\:(\\d{2}) (\\d{2}):(\\d{2})\\:(\\d{2})");
                let dateMatch = regexDate.exec(dateOriginal);
                return dateMatch[1] + dateMatch[2] + dateMatch[3] + dateMatch[4] + dateMatch[5] + dateMatch[6];
            } else {
                let newDate = new Date(lastModified);
                const options = {year: 'numeric', month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit', second: '2-digit', hourCycle: 'h23'}
                return newDate.toLocaleString('en-us', options).replace(/(\d+)\/(\d+)\/(\d+), (\d+):(\d+):(\d+)/, '$3$1$2$4$5$6');
            }
        }

        function clearCoordinates(metadata) {
            let gpsLatitudeGrade = "",
                gpsLatitudeMinute = "",
                gpsLatitudeSecond = "",
                gpsLatitudeRef = "",
                gpsLongitudeGrade = "",
                gpsLongitudeMinute = "",
                gpsLongitudeSecond = "",
                gpsLongitudeRef = "",
                latitude = "",
                longitude = "";

            if (metadata.GPSLatitude) {
                gpsLatitudeGrade = metadata.GPSLatitude[0];
                gpsLatitudeMinute = metadata.GPSLatitude[1];
                gpsLatitudeSecond = metadata.GPSLatitude[2];
                if (metadata.GPSLatitudeRef === "S") {
                    gpsLatitudeRef = "-1"
                } else {
                    gpsLatitudeRef = "1"
                }
                latitude = parseFloat(gpsLatitudeRef) * (parseFloat(gpsLatitudeGrade) +
                    parseFloat(gpsLatitudeMinute) / 60 +
                    parseFloat(gpsLatitudeSecond) / 3600);
            }

            if (metadata.GPSLongitude) {
                gpsLongitudeGrade = metadata.GPSLongitude[0];
                gpsLongitudeMinute = metadata.GPSLongitude[1];
                gpsLongitudeSecond = metadata.GPSLongitude[2];
                if (metadata.GPSLongitudeRef === "W") {
                    gpsLongitudeRef = "-1"
                } else {
                    gpsLongitudeRef = "1"
                }
                longitude = parseFloat(gpsLongitudeRef) * (parseFloat(gpsLongitudeGrade) +
                    parseFloat(gpsLongitudeMinute) / 60 +
                    parseFloat(gpsLongitudeSecond) / 3600);
            }

            if (latitude && longitude) {
                return latitude + "|" + longitude;
            } else { return ""; }
        }
        // End of Metadata functions

        function removeFile(button_id){
            let file_id = button_id.replace("remove_","");
            console.log(file_id);

            $(".file-upload-container").each(function(){
                if (this.id ==="file_upload_container_"+file_id) {
                    this.remove()
                    _Files_names.splice($.inArray(file_id,_Files_names), 1);
                    _Files = _Files.filter(function(e) { return e.name !== file_id; })
                }
            })

            console.log(_Files_names)

            if (_Files.length === 0 || _Files_names.length === 0) {
                $("#license").remove();
            }
        }

        function renderLicense() {
            const license = jQuery.parseHTML("<div class=\"w3-container\" id=\"license\">" +
                "<div class='w3-threequarter' id=\"license-message\">{{ _('Eu, %(username)s, detentor(a) dos direitos autorais desta(s) imagem(ns), concedo <b>irrevogavelmente</b> a qualquer pessoa o direito de utilizá-la sob a <a target=\'_blank\' href=\'https://creativecommons.org/licenses/by-sa/4.0/deed.pt_BR\'>licença Creative Commons Atribuição-CompartilhaIgual 4.0</a>. Com isso, qualquer pessoa poderá usar, compartilhar ou remixar esta imagem, contanto que me creditem e compartilhem qualquer obra derivada sob esta mesma licença.', username = username) }}</div>" +
                "<div class=\"w3-quarter\"><button type=\"submit\" form=\"upload-images\" style=\"float: right; font-size: 100%\"><i class=\"fa-solid fa-upload\"></i> {{ _('Enviar imagem(ns)') }}</button></div></div>");
            $("#license").remove();
            $("#upload_container").append(license);
        }

        $(document).on({
            ajaxStart: function(){
                $(".loading-wheel").show();
                },
            ajaxStop: function(){
                $(".loading-wheel").hide();
            }
        });

        $("#upload-images").on("submit", function (e) {
            e.preventDefault();
            const error = "{{ _('Ocorreu algum erro! Verifique que fez login e revise o formulário. Caso o erro persista, por favor, reporte em https://github.com/WikiMovimentoBrasil/wikilovesbrasil/issues')}}";
            var request = new XMLHttpRequest();
            _Files.forEach(function (_file){
                let formData = new FormData();
                const file_id = _file.name;
                formData.append("qid", e.target.elements["qid"].value);
                formData.append("filename", e.target.elements["filename_" + file_id].value);
                formData.append("name", e.target.elements["suggestedFilename_" + file_id].value);
                formData.append("image_type", e.target.elements["image_type_" + file_id].value);
                formData.append("coordinates", e.target.elements["coordinates_" + file_id].value);
                formData.append("filedate", e.target.elements["filedate_" + file_id].value);
                formData.append('uploaded_file', _file);
                $.ajax({
                    type: "POST",
                    url: "/send_file",
                    data: formData,
                    success: function (response) {
                        console.log("message: " + response.message + "\nstatus: " + response.status + "\nfilename: " + response.filename);
                        if(response.status === "ERROR") {
                            var container = document.getElementById("file_upload_container_"+response.filename);
                            container.style.backgroundColor = "#ff6b6b";
                            container.title = response.message;
                        }
                        else {
                            let sent = document.createElement("span");
                            sent.className = "sent_icon";
                            sent.id = "sent_" + response.filename;
                            sent.innerHTML = "<i class=\"fa-solid fa-check\"></i></i> {{ _('Arquivo enviado') }}</button>";
                            document.getElementById("file_upload_container_"+response.filename).style.backgroundColor = "#8aff70";
                            document.getElementById("remove_"+response.filename).replaceWith(sent);

                        }
                        document.getElementById("loading_"+response.filename).remove();
                    },
                    error: function (response) {
                        console.log(error);
                        document.getElementById("file_upload_container_"+response.filename).style.backgroundColor = "#ff6b6b";
                        document.getElementById("loading_"+response.filename).remove();
                        document.getElementById("remove_"+response.filename).remove();
                    },
                    cache: false,
                    contentType: false,
                    processData: false
                })

                request.open('POST', '/send_file');

                request.send(formData);
            })
        })

        // Drag and drop
        let dropArea = document.getElementById('file-drop-area')
        ;['dragenter', 'dragover', 'dragleave', 'drop'].forEach(eventName => {
            dropArea.addEventListener(eventName, preventDefaults, false)
        })

        ;['dragenter', 'dragover'].forEach(eventName => {
            dropArea.addEventListener(eventName, highlight, false)
        })

        ;['dragleave', 'drop'].forEach(eventName => {
            dropArea.addEventListener(eventName, unhighlight, false)
        })

        function preventDefaults(e) {
            e.preventDefault()
            e.stopPropagation()
        }

        function highlight(e) {
            dropArea.classList.add('highlight')
        }

        function unhighlight(e) {
            dropArea.classList.remove('highlight')
        }

        dropArea.addEventListener('drop', handleDrop, false);

        function handleDrop(e) {
            if (e.dataTransfer && e.dataTransfer.items) {
                for (var i = 0; i < e.dataTransfer.items.length; i++) {
                    if (e.dataTransfer.items[i].kind === 'file') {
                        var file = e.dataTransfer.items[i].getAsFile();
                        _Files.push(file)
                    }
                }
            } else if (e.dataTransfer && e.dataTransfer.files) {
                for (var i = 0; i < e.dataTransfer.files.length; i++) {
                    _Files.push(e.dataTransfer.files[i])
                }
            } else {
                for (var i = 0; i < e.length; i++) {
                    _Files.push(e[i])
                }
            }
            console.log(_Files);
            handleFiles(_Files);
        }

    </script>
{% endblock %}
