{% extends "base.html" %}

{% block styles %}
    <link rel="stylesheet" href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/bootstrap-side-modals.css') }}">
    <link rel="stylesheet" href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol/dist/L.Control.Locate.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet-easybutton@2/src/easy-button.css">
{% endblock %}

{% block scripts %}
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol/dist/L.Control.Locate.min.js" charset="utf-8"></script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet-easybutton@2/src/easy-button.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename= '/js/br-states.js') }}"></script>
    <script type="text/javascript">
        const credits_osm = '&copy; <a href="https://openstreetmap.org/copyright">{{ _("Contribuidores do OpenStreetMap") }}</a>';
        const credits_wikimedia = '<a href="https://foundation.wikimedia.org/wiki/Maps_Terms_of_Use">{{ _("Mapas da Wikimedia") }}</a> | ' + credits_osm;
        const youSelectedMsg = "{{_('Você selecionou:')}}";
        const selectionDefaultMessage = "{{_('Selecione uma região no mapa')}}";
        const logoImage = "{{ url_for('static', filename='/images/logo.svg') }}";
        const whereAmIMsg = '{{ _("Mostre-me onde estou") }}';
        const menuName = '{{ _("Menu") }}';
        const logo_path = "{{ url_for('static', filename='images/logo.svg') }}";
        const langTooltip = "{{ _('Mudar de idioma') }}";
        const infoTooltip = "{{ _('Informações sobre o aplicativo') }}";
        const instruction = "{{ _('Selecione um estado') }}";
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/states.js') }}"></script>
{% endblock %}

{% block title %}{{ _("Brasil") }}{% endblock %}

{% block navbar %}
{#    {% with lang=lang, username=username %}#}
{#        {% include 'topnavbar.html' %}#}
{#    {% endwith %}#}
{% endblock %}

{% block banner %}{% endblock %}
{% block content %}
    <div class="w3-row" style="height:100%; width:100%; padding:0; position:fixed">
        <div id="map">
            <h2>Test</h2>
        </div>
        {% include 'presentationmodal.html' %}
        {% include 'langmodal.html' %}
        {% include 'aboutmodal.html' %}
    </div>
{% endblock %}
