{% extends "base.html" %}

{% block styles %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/bootstrap-side-modals.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol/dist/L.Control.Locate.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet-easybutton@2/src/easy-button.css">
{% endblock %}

{% block scripts %}
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol/dist/L.Control.Locate.min.js" charset="utf-8"></script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet-easybutton@2/src/easy-button.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename= '/js/br-states.js') }}"></script>
    <script type="text/javascript">
        const credits_osm = '&copy; <a href="https://openstreetmap.org/copyright">{{ _("Contribuidores do OpenStreetMap") }}</a>';
        const credits_wikimedia = '<a href="https://foundation.wikimedia.org/wiki/Maps_Terms_of_Use">{{ _("Mapas da Wikimedia") }}</a> | ' + credits_osm;
        const youSelectedMsg = "{{_('Você selecionou:')}}";
        const selectionDefaultMessage = "{{_('Selecione uma região no mapa')}}";
        const logoImage = "{{ url_for('static', filename='/images/logo.svg') }}";
        const whereAmIMsg = '{{ _("Mostre-me onde estou") }}';
        const menuName = '{{ _("Menu") }}';
        const logo_path = "{{ url_for('static', filename='images/logo.svg') }}";
        const langTooltip = "{{ _('Mudar de idioma') }}";
        const infoTooltip = "{{ _('Informações sobre o aplicativo') }}";
        const instruction = "{{ _('Selecione um estado') }}";
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/states.js') }}"></script>
{% endblock %}

{% block title %}{{ _("Brasil") }}{% endblock %}

{% block navbar %}
{#    {% with lang=lang, username=username %}#}
{#        {% include 'topnavbar.html' %}#}
{#    {% endwith %}#}
{% endblock %}

{% block banner %}{% endblock %}
{% block content %}
    <div class="w3-row" style="height:100vh; padding:0">
        <div id="map">
            <h2>Test</h2>
        </div>
        <div class="modal modal-left fade" id="presentationModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document" >
                <div class="modal-content" style="background-color: rgba(255,255,255,0.85);">
                    <div class="modal-header">
                        <h2 class="modal-title" id="selectedState">{{ _("Seja bem-vindo(a/e)!") }}</h2>
                        <button type="button" class="close custom" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>{{ _("Olá, gostaríamos de te dar as boas-vindas!") }}</p>
                        <p>{{ _("O <b>Wiki Loves Brasil</b> é um aplicativo de envio de imagens para a etapa nacional do maior concurso fotográfico do mundo, o <b><i>Wiki Loves Monuments</i></b>!") }}</p>
                        <p>{{ _("Envie suas fotografias do patrimônio histórico brasileiro durante o mês de setembro para participar e concorrer a prêmios.") }}</p>
                        <hr>
                        <p>{{ _("Comece selecionando uma subdivisão no mapa para ver os monumentos da região.") }}</p>
                        <hr>
                        <a target="_blank" href="{{ _('https://pt.wikipedia.org/wiki/Wikipédia:Wiki_Loves_Monuments/Brasil') }}">
                            <button class="custom" style="color:black; padding:10px; width:100%; background-color: #cdcdcd; margin-bottom: 1rem">
                                <img src="{{ url_for('static', filename='/images/logowikipedia.png') }}" width="25px">
                                {{ _("Visite a página do concurso na Wiki") }}
                            </button>
                        </a>
                        <a target="_blank" href="{{ url_for('about') }}">
                            <button class="custom" style="padding:10px; width:100%; background-color: #990000; margin-bottom: 1rem">
                                <i class="fas fa-info-circle"></i>
                                {{ _("Saiba mais sobre este aplicativo") }}
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% include 'langmodal.html' %}
        {% include 'aboutmodal.html' %}
    </div>
{% endblock %}